:root {
	--progress-bar: 0%;
}

[data-theme-mode='light'] {
	--primary: rgb(225, 225, 225);
	--secondary: rgb(25, 25, 25);
	--secondary-a10: rgba(25, 25, 25, 0.1);
	--warning: rgba(255, 150, 0);
}

[data-theme-mode='dark'] {
	--primary: rgb(25, 25, 25);
	--secondary: rgb(225, 225, 225);
	--secondary-a10: rgba(225, 225, 225, 0.1);
	--warning: rgba(255, 150, 0);
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--primary);
	min-width: 500px;
	transition: 0.75s ease;
	position: relative;

	.main {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		margin: 1rem auto;
	}

	h2,
	h3,
	h4 {
		text-align: center;
		color: var(--secondary);
		transition: 0.75s ease;
		margin: 0.25rem;
	}

	button {
		font-weight: 600;
		font-size: 1rem;
		color: var(--secondary);
		border: 0.125rem solid var(--secondary);
		background-color: var(--primary);
		border-radius: 0.25rem;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;
		transition: 0.75s ease, opacity 0s;

		&:disabled {
			opacity: 0.5;
			cursor: initial;
		}

		&:hover {
			filter: brightness(150%);
			transition: 0.25s;
		}
	}

	.theme_toggle {
		padding: 0.5rem;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		color: var(--secondary);
		cursor: pointer;

		&.dark {
			.moon {
				opacity: 1;
				transform: rotate(0);
			}
		}

		&.light {
			.sun {
				opacity: 1;
				transform: rotate(0);
			}
		}
	}

	.theme_icon {
		width: 1rem;
		height: 1rem;
		display: grid;
		margin-right: 0.5rem;

		svg {
			margin: 0;
			grid-column: 1;
			grid-row: 1;
			transition: 0.75s ease;

			opacity: 0;
			transform: rotate(180deg);
		}
	}

	.notification {
		width: 360px;
		overflow: hidden;
		padding: 0.5rem;
		color: var(--secondary);
		border: 0.25rem solid var(--warning);
		border-radius: 0.5rem;
		transition: 0.75s ease;

		p {
			margin: 0;
			text-align: justify;
		}

		span {
			font-weight: 600;
			text-decoration: underline;
			margin-right: 1.25rem;
		}

		> div {
			margin-top: 0.5rem;
			display: flex;
			justify-content: space-between;
			z-index: 50;
		}
	}

	.current_time {
		padding: 0.5rem;
		width: -webkit-min-content;
		width: -moz-min-content;
		width: min-content;
		color: var(--secondary);
		border: 0.25rem solid var(--secondary);
		border-radius: 1rem;
		transition: 0.75s ease;

		@media only screen and (min-width: 600px) {
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
		}
	}

	.minutes_buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media only screen and (min-width: 600px) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.decrement_buttons,
	.increment_buttons {
		text-align: center;
		margin: 0 1rem;

		button {
			padding: 0.5rem;
			margin: 0.5rem;
			min-width: 3.25rem;
		}
	}

	.main_controls {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	.timer_input {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;

		> div {
			display: flex;
			align-items: center;
			text-align: center;
		}

		input {
			width: 4rem;
		}
	}

	.date_select {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;

		> div {
			display: flex;
			align-items: center;
			text-align: center;
		}
	}

	.sound_select {
		text-align: center;
	}

	label {
		display: block;
		font-size: 1rem;
		font-weight: 600;
		color: var(--secondary);
		transition: 0.75s ease;
	}

	input,
	select {
		font-size: 1rem;
		font-weight: 600;
		padding: 0.25rem;
		margin: 0.25rem;
		min-height: 2.25rem;
		text-align: center;
		color: var(--secondary);
		background-color: var(--primary);
		border: 0.125rem solid var(--secondary);
		border-radius: 0.25rem;
		transition: all 0.75s ease, opacity 0s;

		&:disabled {
			opacity: 0.5;
			cursor: initial;
		}
	}

	select {
		min-width: 4rem;
		cursor: pointer;
	}

	.play_sound {
		display: inline-block;
		margin-left: 0.25rem;
		vertical-align: middle;

		svg {
			color: var(--secondary);
			fill: var(--primary);
			border-radius: 50%;
			cursor: pointer;
			transition: 0.75s ease, opacity 0s;
		}
	}

	.disabled {
		svg {
			opacity: 0.5;
			cursor: initial;
		}
	}

	.countdown_controls {
		display: flex;
		gap: 0.5rem;

		button {
			padding: 0.5rem 0.25rem;
			margin: 0.5rem;
			width: 5rem;
		}

		.alarmOn {
			-webkit-animation: alarm 0.1s ease-in-out infinite alternate;
			animation: alarm 0.1s ease-in-out infinite alternate;
		}

		@-webkit-keyframes alarm {
			0% {
				color: var(--secondary);
				background-color: var(--primary);
			}

			100% {
				color: var(--primary);
				background-color: var(--secondary);
			}
		}

		@keyframes alarm {
			0% {
				color: var(--secondary);
				background-color: var(--primary);
			}

			100% {
				color: var(--primary);
				background-color: var(--secondary);
			}
		}
	}

	.countdown {
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		border-radius: 1rem;
		border: 0.25rem solid var(--secondary);
		transition: all 0.75s ease;
		position: relative;

		h2,
		h3 {
			margin: 0;
		}

		div {
			margin: 0.5rem;
		}
	}

	.countdown::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: var(--secondary-a10);
		width: var(--progress-bar);
		transition: background-color 1s ease, width 1s ease;
	}
}

.github {
	position: absolute;
	top: 0;
	right: 0;
	border-bottom-left-radius: 8px;
	background-color: var(--secondary);
	transition: 0.75s ease;

	a {
		display: block;
		color: var(--primary);
		padding: 2px;
		transition: inherit;
	}

	svg {
		display: block;
		box-sizing: content-box;
		border-radius: 50%;
		padding: 1px;
		background-color: var(--secondary);
		fill: var(--primary);
		transition: inherit;
	}
}
