.app {
	display: inline-block;
	min-height: 100vh;
	min-width: 360px;

	h2,
	h3 {
		text-align: center;
	}

	h2,
	h3,
	p {
		margin: 4px;
	}

	button {
		font-weight: 600;
		font-size: 1rem;
		border: 1px solid gray;
		border-radius: 4px;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;

		&:disabled {
			cursor: initial;
		}
	}

	.current_time {
		padding: 8px;
		margin: 8px auto;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		background-color: goldenrod;
		border-radius: 16px;
		border: 4px solid black;
	}

	.minutes_buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media only screen and (min-width: 600px) {
			flex-direction: row;
			justify-content: space-between;

			.decrement_buttons {
				direction: rtl;

				button {
					direction: ltr;
				}
			}
		}
	}

	.decrement_buttons,
	.increment_buttons {
		text-align: center;
		margin: 0 12px;

		button {
			padding: 8px;
			margin: 8px;
			width: 50px;
		}
	}

	.main_controls {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 8px auto 0 auto;
	}

	.minutes_input {
		text-align: center;

		label {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			margin: 4px;
		}

		input {
			font-size: 1rem;
			padding: 4px;
			margin: 0;
			width: 64px;
			text-align: center;
			color: black;
			border: 2px solid teal;
			border-radius: 4px;

			&:disabled {
				opacity: 0.5;
				cursor: initial;
			}

			&:focus {
				outline: 2px solid blue;
			}
		}
	}

	.time_select,
	.sound_select {
		text-align: center;

		select {
			font-size: 1rem;
			padding: 4px;
			margin: 4px;
			max-height: 50px;
			text-align: center;
			background-color: transparent;
			color: black;
			border: 2px solid teal;
			border-radius: 4px;
			cursor: pointer;

			&:disabled {
				opacity: 0.5;
				cursor: initial;
			}

			&:focus {
				outline: 2px solid blue;
			}
		}
	}

	.play_sound {
		display: inline-block;
		margin-left: 4px;
		vertical-align: middle;
	}

	.disabled {
		svg {
			opacity: 0.5;
			cursor: initial;
		}
	}

	svg {
		fill: yellow;
		border-radius: 50%;
		cursor: pointer;
	}

	.countdown_controls {
		button {
			padding: 8px 4px;
			margin: 8px 16px;
			width: 80px;
		}

		.alarmOn {
			-webkit-animation: alarm 0.5s ease-in-out infinite alternate;
			animation: alarm 0.5s ease-in-out infinite alternate;
		}

		@-webkit-keyframes alarm {
			0% {
				background-color: yellow;
			}

			100% {
				background-color: red;
			}
		}

		@keyframes alarm {
			0% {
				background-color: yellow;
			}

			100% {
				background-color: red;
			}
		}
	}

	.countdown {
		padding: 8px;
		margin: 8px auto;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		background-color: plum;
		border-radius: 16px;
		border: 4px solid black;
	}
}
