:root {
	--progress-bar: 0%;
}

[data-theme-mode='light'] {
	--primary: rgb(225, 225, 225);
	--secondary: rgb(25, 25, 25);
	--secondary-a10: rgba(25, 25, 25, 0.1);
}

[data-theme-mode='dark'] {
	--primary: rgb(25, 25, 25);
	--secondary: rgb(225, 225, 225);
	--secondary-a10: rgba(225, 225, 225, 0.1);
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--primary);
	transition: 0.75s ease;

	.main {
		flex: 1;
		display: inline-block;
		min-width: 360px;
		margin: 0 auto;
	}

	h2,
	h3,
	h4 {
		text-align: center;
		color: var(--secondary);
		transition: 0.75s ease;
	}

	h2,
	h3 {
		margin: 4px;
	}

	h4 {
		margin-top: 8px;
	}

	button {
		font-weight: 600;
		font-size: 1rem;
		color: var(--secondary);
		border: 2px solid var(--secondary);
		background-color: var(--primary);
		border-radius: 4px;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;
		transition: 0.75s ease, opacity 0s;

		&:disabled {
			opacity: 0.5;
			cursor: initial;
		}
	}

	.theme_toggle {
		position: absolute;
		top: 8px;
		left: 8px;
		display: flex;
		color: var(--secondary);
		cursor: pointer;

		&.dark {
			.moon {
				opacity: 1;
				transform: rotate(0);
			}
		}

		&.light {
			.sun {
				opacity: 1;
				transform: rotate(0);
			}
		}
	}

	.theme_icon {
		width: 1rem;
		height: 1rem;
		display: grid;
		margin-right: 0.5rem;

		svg {
			margin: 0;
			grid-column: 1;
			grid-row: 1;
			transition: 0.75s ease;

			opacity: 0;
			transform: rotate(180deg);
		}
	}

	.current_time {
		padding: 8px;
		margin: 8px auto;
		width: -webkit-min-content;
		width: -moz-min-content;
		width: min-content;
		color: var(--secondary);
		border: 4px solid var(--secondary);
		border-radius: 16px;
		transition: 0.75s ease;

		@media only screen and (min-width: 600px) {
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
		}
	}

	.minutes_buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media only screen and (min-width: 600px) {
			flex-direction: row;
			justify-content: space-between;

			.decrement_buttons {
				direction: rtl;

				button {
					direction: ltr;
				}
			}
		}
	}

	.decrement_buttons,
	.increment_buttons {
		text-align: center;
		margin: 0 12px;

		button {
			padding: 8px;
			margin: 8px;
			width: 50px;
		}
	}

	.main_controls {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}

	.minutes_input {
		text-align: center;
	}

	.time_select,
	.sound_select {
		text-align: center;
	}

	label {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		margin-top: 8px;
		font-size: 1.25rem;
		font-weight: 600;
		color: var(--secondary);
		transition: 0.75s ease;
	}

	input,
	select {
		font-size: 1rem;
		font-weight: 600;
		padding: 4px;
		margin: 4px;
		text-align: center;
		color: var(--secondary);
		background-color: var(--primary);
		border: 2px solid var(--secondary);
		border-radius: 4px;
		transition: all 0.75s ease, opacity 0s;

		&:disabled {
			opacity: 0.5;
			cursor: initial;
		}
	}

	input {
		width: 64px;
	}

	select {
		min-width: 64px;
		max-height: 50px;
		cursor: pointer;
	}

	.play_sound {
		display: inline-block;
		margin-left: 4px;
		vertical-align: middle;

		svg {
			color: var(--secondary);
			fill: var(--primary);
			border-radius: 50%;
			cursor: pointer;
			transition: 0.75s ease, opacity 0s;
		}
	}

	.disabled {
		svg {
			opacity: 0.5;
			cursor: initial;
		}
	}

	.countdown_controls {
		button {
			padding: 8px 4px;
			margin: 16px;
			width: 80px;
		}

		.alarmOn {
			-webkit-animation: alarm 0.5s ease-in-out infinite alternate;
			animation: alarm 0.5s ease-in-out infinite alternate;
		}

		@-webkit-keyframes alarm {
			0% {
				color: var(--secondary);
				background-color: var(--primary);
			}

			100% {
				color: var(--primary);
				background-color: var(--secondary);
			}
		}

		@keyframes alarm {
			0% {
				color: var(--secondary);
				background-color: var(--primary);
			}

			100% {
				color: var(--primary);
				background-color: var(--secondary);
			}
		}
	}

	.countdown {
		margin: 8px;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		border-radius: 16px;
		border: 4px solid var(--secondary);
		transition: all 0.75s ease;
		position: relative;

		h2,
		h3 {
			margin: 0;
		}

		div {
			margin: 8px;
		}
	}

	.countdown::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: var(--secondary-a10);
		width: var(--progress-bar);
		transition: background-color 0.75s ease;
	}

	.footer {
		width: 100%;
		text-align: center;
		background-color: var(--secondary);
		transition: 0.75s ease;

		a {
			font-weight: 600;
			color: var(--primary);
			padding: 4px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			text-decoration: none;
			transition: inherit;
		}

		svg {
			margin: 0 8px;
			box-sizing: content-box;
			border-radius: 50%;
			padding: 1px;
			background-color: var(--secondary);
			fill: var(--primary);
			transition: inherit;
		}
	}
}
